@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', serif;
}

header {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header div img {
  height: 60px;
  width: 60px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

header nav ul li a {
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  margin: 50px auto;
  max-width: 1000px;
}

.movie-tile {
  width: 30%;
  margin-bottom: 30px;
}

.movie-poster > img {
  width: 100%;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
}

.movie-info h3 {
  font-weight: 700;
  width: 70%;
  font-size: 20px;
}

.movie-info i {
  font-size: 25px;
  cursor: pointer;
}

.movie-interactions {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.movie-interactions button {
  padding: 10px;
  background-color: white;
  box-shadow: 4px 4px black;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.movie-interactions button:hover {
  background-color: black;
  color: white;
}

.movie-likes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
}

.movie-likes i {
  transition: 0.5s transform;
}

.movie-likes i:hover {
  transform: scale(1.3);
}

.fa-spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Popup */

.popup-container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 0;
  z-index: 999;
}

.popup-container.active {
  display: flex;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border: 2px solid;
  width: 500px;
}

.close-btn {
  float: right;
  width: 100%;
  text-align: right;
  cursor: pointer;
}

.popup-img {
  width: 200px;
  height: auto;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
}

.popup-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  gap: 20px;
  width: 100%;
}

.comment-section h3 {
  font-size: 20px;
}

.comments {
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

form input,
form textarea {
  padding: 10px;
  width: 100%;
  font-size: 15px;
  resize: none;
}

form .submit {
  padding: 8px 16px;
  border: 3px solid;
  background-color: white;
  box-shadow: 4px 4px black;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: max-content;
}

form .submit:hover {
  background-color: black;
  color: white;
}

footer {
  display: flex;
  align-items: center;
  border: 3px solid;
  height: 10vh;
  margin: 20px auto;
  width: 95%;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

/* Other screen widths */
@media (max-width: 1200px) {
  header {
    flex-direction: column;
    gap: 20px;
    border-bottom: 3px solid;
  }

  main {
    max-width: 800px;
  }

  .movie-tile {
    width: 40%;
  }

  .popup-container {
    padding: 0;
  }

  .popup {
    width: 100%;
    border: none;
  }
}
